vim
tmux

git config --global user.email "you@example.com"
git config --global user.name "Your Name"

scipy
pytorch
transformers
datasets
conllu
sentencepiece

mkdir data/raw
mkdir data/processed
mkdir data/interim
mkdir data/processed/UD
mkdir models
